/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


html, body { height: 100%; margin: 0; padding: 0; width: 100%; }
#everything {
	float: left;
	height: 100%;
	width: 100%;
}

#contentwrap {
	float: left;
	height: 100%;
	margin-right: -235px;
	min-width: 500px;
	width: 100%;
} 

#content {
	height: 100%;
	margin-right: 235px;
	position: relative;
}

#game {
	float: left;
	height: 65%;
	position: relative;
	width: 100%;
}

/** Buttons **/
.not-joined #leavebutton, .not-joined #rock, .not-joined #paper, .not-joined #scissors { display: none; }
.not-joined #game { background: #ffffff; }
.not-joined .hand, .not-joined #chat-control { opacity: 0.1; }
.not-joined #my_name, .not-joined #joinbutton {
	display: block;
  left: 40px;
  padding: 6px;
	position:absolute;
  text-align: center;
  margin-left: 25%;
  top: 50%;
  width: 50%;
  z-index: 50;
}

.not-joined #my_name {
	height: 100px;
	font-size: 100px;
	margin-top: -200px;
}

.not-joined #joinbutton {
	cursor: pointer;
	height: 100px;
	font-size: 100px;
	line-height: 100px;
}

#my_name, #joinbutton { display: none; }
#leavebutton {
	background: #bc0000;
	border: 0;
	color: #ffffff;
	cursor: hand;
	font-size: 20px;
	height: 35px;
	padding: 4px;
	width: 100%;
}

#leavebutton:hover {
	background: #f00;
}

.hand, #buttons {
	height: calc(100% - 35px);
	height: -webkit-calc(100% - 35px);
	float: left;
	width: 50%;
}

.hand {
	background-image: url(img/waiting.png);
	background-position: center center;
	background-repeat: no-repeat;

	transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;

}

.hand-chosen {
	background-color: green;
}

.hand-rock { background-image: url(img/rock.png); }
.hand-paper { background-image: url(img/paper.png); }
.hand-scissors { background-image: url(img/scissors.png); }

#hand-one {

}

#hand-two {

}

#message {
	background: rgba(255, 255, 255, 0.7);
	display: none;
	font-size: 80px;
	height: 100px;
	left: 25%;
	line-height: 100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50%;
}

#message.visible {
	display: block;
}

#buttons {
	bottom: 0;
	left: -50%;
	position: absolute;
}

.player-one #buttons {
	left: 0;
}

#buttons button {
	cursor: pointer;
	height: 70px;
	left: 25%;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	width: 50%;

	transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
}

#buttons button:hover {
	opacity: 1;
}

#rock { margin-top: -135px; }
#paper { 	margin-top: -35px; }
#scissors { margin-top: 65px; }

#chat {
	float: left;
	height: 35%;
	position: relative;
	width: 100%;
}

#chat-box {
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#chat-control {
	float: left;
	height: 30px;
	width: 100%;
}

li span:first-child {
	color: blue;
	font-weight: bold;
	padding-right: 0.3em;
}

li.msg {
	background: #000000;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

li.msg span:first-child {
	display: none;
}

li.mine span:first-child {
	color: red;
}

#sidebar {
	background: #ffffff;
	float: left;
	width: 235px;
}

#vs {
	height: 150px;
	text-align: center;
	width: 100%;
}

#vs p {
	display: block;
	font-size: 40px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
}

#vs span {
	display: block;
	font-size: 30px;
	height: 30px;
	line-height: 30px;
}

#players li {
	font-size: 20px;
	height: 25px;
	line-height: 25px;
}